<h1>Tasks</h1>

<table>
  <% @tasks.each do |task| %>
      <tr class="<%= 'completed' if task.status %>">
        <td class="title"><%= task.title %></td>
        <td class="top-text">
          <%= link_to edit_task_path(task) do %>
              <%= fa_icon "pencil-square-o" %>
          <% end %>
        </td>

        <td class="top-text"><%= link_to task_path(task), method: :delete do %>
              <%= fa_icon "times" %>
        <% end %>
        </td>
      </tr>
  <% end %>
</table>

<%= link_to new_task_url, class: "btn btn-create" do %>
    <%= fa_icon "plus" %>
    Create new task
<% end %>